.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  gap: 2rem;
  box-sizing: border-box;
  position: relative;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25rem;
  margin-bottom: 2rem;
  position: relative;
  object-fit: cover;
}

.svg-titulo {
  width: 80%;
  height: 200px;
  overflow: visible;
}

.titulo {
  font-family: "Anton", sans-serif;
  font-size: 80px;
  color: var(--titulo);
  stroke-width: 2px;
  font-weight: bold;
  text-shadow: 0px 4px 0px #ffffff;
}

.contenido {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
  margin-top: 12rem;

  position: absolute;
}

.img_c {
  width: 35rem;
  height: 35rem;
  min-width: 25rem;
  border: 7px solid rgb(82, 80, 80);
  border-radius: 50%;
  background-color: rgb(212, 212, 212);
  margin: 1rem;
  cursor: pointer;
}

.img_c img {
  width: 100%;
  height: 120%;
  margin-top: -5rem;
  object-fit: cover;
}

.texto_f {
  width: 100%;
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  color: var(--text-f);
  text-align: center;
  padding: 2rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .contenido {
    flex-direction: column;
  }

  .svg-titulo {
    height: 150px;
  }

  .titulo {
    font-size: 60px;
  }

  .text_c1,
  .text_c2,
  .img_c {
    width: 90%;
    height: auto;
    min-height: 15rem;
  }
}
